<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title }}</h1>
    <p>CHANGES HAVE BEEN MADE</p> <br/>
	<b><a href="http://localhost:5000/product"> CLICK HERE TO VIEW PRODUCTS </a> </b>
  </body>
</html>
